/* Ignore styles from the website */
html {
    font-size: 16px !important;
    line-height: 1.2;
}

#security-dialog * {
    all: initial;
    font-family: Arial, sans-serif;
    display: block;
}

#security-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* This is the actual dialog element */
#security-dialog {
    /* Center the dialog */
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
    max-width: 28rem; /* 448px */
    padding: 1.5rem;
    text-align: left;
    border: none;
    border-radius: 0.5rem;
}

/* prompt is the wrapper around everything inside
 report is the message informing the user about the issues */
#security-prompt,
#security-report {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#security-report li.issue {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f4f4f4;
}

#security-report span.toggle {
    float: right;
    cursor: pointer;
    color: #0078d4;
    padding: 0 0.5rem;
}

#security-report .description {
    display: block;
    padding: 0.5rem;
    color: rgb(41, 41, 41);
}

#security-prompt h1 {
    display: block;
    font-size: 1.5rem;
}

#security-prompt h2 {
    display: block;
    font-size: 1.15rem;
}

#security-prompt ol,
#security-prompt ul,
#security-prompt li {
    display: block;
}

#security-prompt .inputs {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#security-prompt button {
    background-color: lightgrey;
    text-align: center;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    min-width: 4rem;
    transition: opacity 200ms;
}

#security-prompt button:hover {
    opacity: 0.7;
    cursor: pointer;
}

#security-prompt button.suggested-action {
    background-color: #0078d4;
    /* Blue to grab user attention */
    color: white;
}

#security-prompt .hidden {
    display: none;
}

#security-prompt .star {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: inline;
    user-select: none;
}